name: Rust Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Rust
      uses: moonrepo/setup-rust@v1

    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Install ILI
      run: |
        git clone https://github.com/I-had-a-bad-idea/ILI.git
        cargo install --path ILI
    
    - name: Install test library
      run: ili install examplelib

    - name: Build
      run: cargo build --release

    - name: Run Tests
      run: cargo test
